* {
  font-size: 18px;
  margin: 0;
  font-family: monospace;
}



.title-text {
  z-index: 2;
}
h1 {
text-align: center;
text-decoration: underline;
color: rgba(0, 66, 37, 0.7);
  padding-top: 5%;
  z-index: -1;
  font-size: 2.0em;
}

.navbar {
  background-color: rgba(0, 66, 37, 0.7);
  width: inherit;
  padding: 12px 0;
  text-align: center;
}

.navbar li {
  display: inline;
  list-style: none;
  padding: 10px;
  font-weight: bold;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.navbar li a:hover {
  padding: 10px;
  background-color: grey;
}


.background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /*background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
}

.image-container {
  background-image: url("/office-laptop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  background: rgba(0,0,0,0.1);
  min-width: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /*top: 0;
  left: 0;*/
}

.main-container {
  min-height: 100vh;
  background-color: rgba(0, 66, 37, 0.2);
  /*margin: 15px 30px;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.background-info {
  margin: 20px 20px;
  background-color: rgba(0, 66, 37, 0.7);
padding: 30px;
width: 400px;
min-height: 380px;
border-radius: 2%;
box-shadow: 5px 10px grey;
}

.skills-info {
  padding: 30px;
  margin: 20px 20px;
background-color: rgba(0, 66, 37, 0.7);
width: 400px;
min-height: 380px;
border-radius: 2%;
box-shadow: 5px 10px grey;
}

.cv_link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h3 {
  text-align: center;
  padding-bottom: 10px;
}

.skills {
  padding: 40px 5px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
font-weight: bold;
}

.html-skills {

background-color: red;
padding: 8px;
border-radius: 25%;
}
.css-skills {

background-color: blue;
padding: 8px;
border-radius: 25%;
}
.javascript-skills {

background-color: orange;
padding: 8px;
border-radius: 25%;
}
.react-skills {

background-color: purple;
padding: 8px;
border-radius: 25%;
}
.skill-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-logos img {
  height: 45px;
}
footer {
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 66, 37, 0.7);
  text-align: center;
}

/*projects.html css*/

#projects {
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
width: 100%;
background: rgba(0, 66, 37, 0.1);
}

.projects-container {
  color: rgba(0, 66, 37, 0.7);
  min-height: 100vh;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}


#projects h1 {
  color: rgba(0, 66, 37, 0.7);
}

#projects p {
  color: rgba(0, 66, 37, 0.7);
  font-size: 16px;
  font-weight: 300;
}

#linkedin-logo {
  float: left;
  height: 50px;
width: 50px;
}

#github-logo {
  float: left;
  height: 50px;
width: 50px;
}

.navbar2::after {
  content: "";
  clear: both;
  display: table;
}

.navbar2 {
  height: 70px;
  line-height: 70px;
}

.navbar2 a img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

.navbar2 a:nth-child(2) {
  /*float: right;*/
}

header {
  margin: 10px 0 100px 120px;
}

header p {
  width: 90%;
  margin-top: 20px;
}

.work {
  text-align: center;
  width: 100%;
}

.work img {
  height: 5%;
  width: 80%;
  margin: 1%;
}

img:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*contact.html code */

.contact-form h1 {
  margin-top: 0;
  padding: 5px;
  font-weight: 200;
}

.contact {
  /*height:100vh;*/
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #e6e6ff;
}
.contact-form-box {
  height: 800px;
  width: 100%;
}
.contactform-container {
  /*margin: 10% 0 10% 25%;*/
  display: block;
  /*flex-direction: column;
  align-items: center;
  height: 800px;*/
  width: 100%;
}

.contact-form {
  height: 75%;
  width: 50%;
  margin: 5%;
  margin: 5% 0 5% 24%;
  max-width: 600px;
  background: #f1f1f1;
  padding: 30px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
}


.textbox-form {
  /*margin: 8px 0;*/
border: 1px solid grey;
padding: 12px 18px;
}

.textbox-form label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 13px;
}

.textbox-form input, .textbox-form textarea {
width: 100%;
border: none;
background: none;
outline: none;
font-size: 18px;
margin-top: 6px;
}

.btn {
  display: inline-block;
  background: blue;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  width: 100%;
  margin-top: 8px;
}

button {
  display: inline-block;
  background: blue;
  padding: 14px 0;
  color: white;
  text-transform: uppercase;
  width: 100%;
  margin-top: 8px;
}

@media only screen and (max-width: 991px) {
     header {
       text-align: left;
       margin: 100px 0 100px 30px;
     }

     header h1 {
       font-size: 36px;
     }

     header p {
       font-size: 12px;
       width: 90%;
     }

     .work img {
       margin: 2%;
       width: 90%;
     }

     .contact-form {
  width: 85%;
  background: #f1f1f1;
  margin: 5%;
  left: 50%;
  padding: 5% 10%;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
}

.contactform-container {
  height: 80%;
}

.image-container {
background-position: center center;
  background-size: contain;
  background-attachment: local;
}

}
